{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="{{ 'style/contact.css' }}" rel="stylesheet"/>
  <link href="{{ 'style/nav.css' }}" rel="stylesheet"/>
{% endblock %}

{% block main %}
    <h1 class="card_title">
        Me contacter!
    </h1>

    {{ form_start(formContact) }}

    <div class="form-group">
        <label for="">Nom: </label>
        {{ form_widget(formContact.name) }}
    </div>
    <div class="form-group">
        <label for="">Téléphone: </label>
        {{ form_widget(formContact.tel) }}
    </div>
    <div class="form-group">
        <label for="">Email: </label>
        {{ form_widget(formContact.email) }}
    </div>
    <div class="form-group">
        <label for="">Message: </label>
        {{ form_widget(formContact.message) }}
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Envoyer</button>
    </div>

    {{ form_end(formContact) }}
    
{% endblock %}
